<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}Pierce's Site - {{ title }}{% else %}Pierce's Site{% endif %}</title>
</head>

<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Pierce's Site</a>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="#">Projects</a>
            <a href="#">Art Page</a>
            <a href="#">Cool Things</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <p>&copy; Pierce Nance</p>
    </footer>
</body>

</html>